@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: $very-light-gray;
}

.container {
  max-width: 1440px;
  text-align: center;

  .header {
    padding-top: 46px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .header__title,
    .header__subtitle {
      font-size: 34px;
      margin: 0;
    }

    .header__title {
      font-weight: 200;
      color: $grayish-blue;
    }

    .header__subtitle {
      font-weight: 600;
    }
  }

  .description {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 100;
    color: $grayish-blue;
    font-weight: 400;

    @media (min-width: 769px) {
      max-width: calc(1095px / 2);
    }
  }

  .card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1220px;
    .card {
      position: relative;
      background-color: #fff;
      width: 350px;
      height: 300px;
      text-align: left;
      padding: 30px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 18px;

      img {
        position: absolute;
        bottom: 30px;
        right: 30px;
      }
    }

    .card__title {
      font-weight: 900;
      font-size: 20px;
      color: $very-dark-blue;
      padding-bottom: 12px;
    }

    .card__description {
      color: $grayish-blue;
    }

    .card--supervisor {
      border-top: 5px solid $cyan;
      transform: translateY(50%);
      order: 1;

      @media (max-width: 1170px) {
        transform: translateY(0);
      }
    }

    .card--team-builder {
      border-top: 5px solid $red;
      order: 2;
    }

    .card--calculator {
      border-top: 5px solid $blue;
      transform: translateY(50%);
      order: 3;

      @media (max-width: 1170px) {
        transform: translateY(0);
      }

      @media (max-width: 768px) {
        order: 4;
      }
    }

    .card--karma {
      border-top: 5px solid $orange;
      order: 4;

      @media (max-width: 768px) {
        order: 3;
      }
    }
  }
}
